{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block main %}
<h1>{% trans "Occurrences" %}</h1>
<table>
    <tr>
        {% for date, occurrences, current in week %}
            <th>{{ date|date:'D m/d' }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for date, occurrences, current in week %}
            <td>
                {% for occurrence in occurrences %}
                    <p>{{ occurrence }}</p>
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
</table>
{% endblock %}
