{% extends "base.html" %}
{% load i18n %}

{% block main %}
<h1>
    {% if form.instance.id %}
        {% trans "Update" %} {{ form.instance }}
    {% else %}
        {% trans "Create event" %}
    {% endif %}
</h1>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Save" %}" />
</form>
<a href="{% url "calendar_occurrence_delete" pk=form.instance.event.pk year=form.instance.start.year month=form.instance.start.month day=form.instance.start.day %}">{% trans "Delete" %}</a>
{% endblock %}
