# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
django==1.6.4
South==0.8.4
python-dateutil==2.2
django-filer==0.9.5
Pillow==2.4.0

# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
factory-boy==2.3.1
pytz==2014.2
django-libs
Fabric
mock
django-nose
coverage
django-coverage
ipdb
flake8
